
<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
   
    <div id="container"></div>

    <script type="text/javascript">
      
            // Retrieve data from Flask route
          
            var data1 = {{ data1 | tojson }};


        var chartConfig = {
            chart: {
                type: 'column',
                renderTo: 'container'
            },
            title: {
                text: 'Occurrences by Date'
            },
            xAxis: {
                categories: data1.map(function(item) { return item.date; })
            },
            yAxis: {
                title: {
                    text: 'Occurrences'
                }
            },
            series: [{
                name: 'Occurrences',
                data: data1.map(function(item) { return item.occurrences; })
            }]
        };
        var chart = new Highcharts.Chart(chartConfig);
    </script>
</body>
</html>
